.outter-email{ 
    color: #97C0E2;
    background-color: #00273F;
    width: 90%;
    margin:0 auto;
    background-color: #D2D0D0;   
    /* padding: 5%; */
}
.standard-color{
    background-color: #00273F;
}
    .body-email {
        width: 80%;
        height: auto;
        background-color: #ffffff;
    }
    .header-email {
        width:100%;
        text-align: center; 
        vertical-align: middle;
        height: 50px;   
    }
    .content-email {
        font-weight: bold;
        font-family: Roboto, sans-serif;
        font-size: 1.2em;
        text-align: center; 
        vertical-align: middle;
        width: 100%;
        
    }
    .content-email *{
        background-color: #ffffff;
    }
    .first-text{
        padding-top: 5%;
        padding-bottom: 5%;
        font-size:1.4em;
    }
    .content-text{
        text-align: left !important;
    }
    .content-email p {
        text-align: center;
        margin: 0 auto;
        width: 90%;
        padding-bottom: 5%;
    }

    .content-email span {
        text-decoration: underline;
    }
    .footer-email {
        height: 90px;
        font-weight: bold;
        font-family: Roboto, sans-serif;
        text-align: center;
    }